body {
    margin: 0 auto;
    max-width: 569px;
}

.logo,
.main_text,
a {
    margin-top: 60px;
    font: 400 34px 'Crete Round';
    text-decoration: none;
    color: #060c31;
}

.title,
h1 {
    width: 450px;
    margin-top: 89px;
    font: 400 58px 'Crete Round';
}

.title_descr,
p {
    margin-top: 36px;
    width: 420px;
    min-height: 70px;
    font: 400 15px 'Lato';
    color: #060c31;
    letter-spacing: 0.75px;
    line-height: 28px;

}

.button {
    margin: 48px 0 28px;
    width: 717px;
}

.get_started {
    padding: 16px 36px;
    width: 156px;
    height: 50px;
    border-radius: 25px;
    border: solid 0 #fff;
    text-decoration: none;
    background-color: #233fe2;
    font: 400 15px 'Lato';
    color: #fff;
}

.get_start_link {
    font: 400 15px 'Lato';
    color: #ffffff;
}

.create_account {
    margin-left: 20px;
    width: 156px;
    height: 50px;
    padding: 16px 27.5px;
    text-decoration: none;
    border-radius: 25px;
    border: solid 1px #fbb0b1;
    background-color: #fff;
    font: 400 15px 'Lato';
}

.main_background {
    width: 717px;
    height: 569px;
    margin-top: 28px;
}
