body {
    margin: 0 auto;
    max-width: 569px;
}

.logo,
.main_text,
a {
    margin-top: 60px;
    font: 400 34px 'Crete Round';
    text-decoration: none;
    color: #060c31;
}

.title,
h1 {
    width: 450px;
    margin-top: 89px;
    font: 400 58px 'Crete Round';
}

.title_descr,
p {
    margin-top: 36px;
    width: 420px;
    min-height: 70px;
    font: 400 15px 'Lato';
    color: #060c31;
    letter-spacing: 0.75px;
    line-height: 28px;

}

.buttons
{
    margin-top: 47px;
}

.get_started 
{
    margin-right: 20px;
    width: 152px;
    height: 50px;
    border-radius: 25px;
    background-color: #233fe2;
    border: none;

}

.get_start_link
{
    font: 400 15px 'Lato';
    color: #ffffff;
}

.create_account {
    width: 152px;
    height: 50px;
    background: #ffffff;
    border-radius: 25px;
    border: 1px solid #ffb0b1;

}

.create_account_link
{
    font: 400 15px 'Lato';
}

.main_background {
    width: 717px;
    height: 569px;
    margin-top: 28px;
}